.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  display: block;
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 352px;
}

.card__like-btn {
  background-image: url("../images/like-icon.svg");
  background-color: transparent;
  height: 20px;
  width: 23px;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_active {
  background-image: url("../images/like-active.svg");
  opacity: 1;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("../images/delete-icon.svg");
  background-color: transparent;
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url("../images/delete-icon-hover.svg");
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 250px;
  }

  .card__like-btn {
    height: 18px;
    width: 20px;
    background-size: cover;
    padding: 0;
  }
}
