.card {
  /* max-width: 413px; */
}

.card__image {
  display: block;
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  margin: 0;
}

.card__like-btn {
  background-image: url("../images/like-icon.png");
  background-color: transparent;
  height: 20px;
  width: 23px;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}
