.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
