.profile {
  display: flex;
  gap: 20px;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  color: #212121;
  height: 190px;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  padding-top: 12px;
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-btn {
  margin-top: auto;
  display: flex;
  background: none;
  border: none;
  gap: 8px;
  font-weight: 500;
  opacity: 70%;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  margin-top: auto;
  font-weight: 500;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  height: 52px;
  width: 149px;
  color: #fcf5e5;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 80%;
}
