.profile {
  display: flex;
  gap: 20px;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  color: #212121;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
  cursor: pointer;
}

/* .profile__avatar:hover {
  background-color: rgba(33, 33, 33, 0.4);
} */

.profile__avatar-container {
  position: relative;
}

.profile__avatar-btn {
  position: absolute;
  width: 190px;
  height: 190px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 8px;
  padding-bottom: 12px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  visibility: hidden;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  background-color: rgba(33, 33, 33, 0.4);
  transition: background-color 1s;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  font-weight: 500;
  color: #fff;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  padding-top: 12px;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/pencil.svg);
}

.profile__edit-btn {
  margin-top: auto;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
  line-height: 1;
  gap: 8px;
  font-weight: 500;
  opacity: 70%;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/plus-icon.svg);
  background-size: cover;
}

.profile__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  margin-top: auto;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  height: 52px;
  width: 149px;
  color: #fcf5e5;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px;
    height: auto;
    max-width: 288px;
    gap: 0;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
  }

  .profile__avatar-btn {
    height: 23.34px;
    width: 23.34px;
    column-gap: 0;
    align-items: center;
    border-radius: 6px;
    background-color: rgba(33, 33, 33, 0.6);
    top: 52px;
    left: 52px;
    visibility: visible;
    padding: 0;
  }

  .profile__avatar-container:hover .profile__avatar-btn {
    background-color: rgba(33, 33, 33, 0.6);
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__column {
    align-items: center;
  }
  .profile__name {
    font-size: 20px;
    padding-top: 12px;
    max-width: 288px;
    text-align: center;
  }

  .profile__description {
    padding-top: 6px;
    max-width: 288px;
    text-align: center;
  }

  .profile__edit-btn {
    padding: 32px 0 20px;
  }

  .profile__add-btn {
    width: 288px;
    margin: 0;
    padding: 18px 32px;
  }
}
